body {
  margin: 0;
  font-family:"Times New Roman", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:"Times New Roman", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.ant-btn{
	background: #161823 !important;
  color: #fff !important;
	border: 0px !important;
	width: 100% !important;
	height: 100% !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	letter-spacing: 1px !important;
}

/* md style */
.md-editor-visible{
	width: 100% !important;
}
.cm-s-default{
	width: 0% !important;
}